.input {
    width: max-content;
    padding-left: 10px;
    margin: 15px 0;
    border-left: 4px solid rgb(224, 224, 224);
}

.input:focus-within {
    border-color: var(--black-color);
}

.p-input {
    width: 400px;
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgb(163, 159, 159);
    background-color: inherit;
    /* border-radius: 10px; */
}

.p-input:focus {
    outline: none;
}

.p-input:disabled {
    /* background-color: #f7f5f5; */
    border: none;
}

.p-label {
    text-transform: capitalize;
    font-weight: 600;
}

.require {
    color: red;
}