.product {
    display: flex;
    flex-wrap: wrap;
}

.product-add {
    width: 100%;
    display: flex;
    justify-content: end;
}

.product-add-btn {
    background-color: white;
    padding: 10px 24px;
    width: 210px;
    font-weight: 500;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 110%;
    border: 2px solid var(--black-color);
}

.product-list-btn {
    background-color: var(--black-color);
    color: #ffffff;
    padding: 10px 24px;
    width: 210px;
    font-weight: 500;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 110%;
    border: 2px solid var(--black-color);
}

.product-search {
    width: 16.5%;
    padding: 10px;
    /* background-color: azure; */
}

.product-search-item {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(236, 231, 231);
}

.product-search-btn {
    margin: 20px;
}

.p-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.p-category {
    margin-right: 10px;
}

.p-search-value {
    display: flex;
    justify-content: space-between;
}

.p-search-btn {
    width: 100%;
    padding: 10px 24px;
    background-color: var(--black-color);
    color: #ffffff;
    cursor: pointer;
    font-size: 110%;
    border: none;
}

.p-search-btn:hover {
    background-color: var(--black-hover);
}

.p-search-btn:active {
    background-color: var(--black-active);
}

.p-clear-btn {
    width: 100%;
    padding: 10px 24px;
    background-color: white;
    cursor: pointer;
    font-size: 110%;
    margin-top: 10px;
    border: 1px solid var(--black-color);
}

.p-clear-btn:hover {
    background-color: var(--black-color);
    color: #ffffff;
}

.p-clear-btn:active {
    background-color: var(--black-active);
}

.product-manage {
    width: 83.5%;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-form {
    width: 100%;
}
