.new-pw {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-pw-container {
    width: 500px;
    height: auto;
    background-color: white;
    padding: 30px;
}

.new-pw-header {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}

.new-pw-body {
    display: flex;
    flex-direction: column;
}

.new-pw-input {
    padding: 7px 13px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    outline: none;
}

.new-pw-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.new-pw-btn {
    padding: 4px 10px;
    background-color: #1A5D1A;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.new-pw-btn:hover {
    background-color: #327332;
}

.new-pw-btn-cancel {
    background-color: #BB2525;
}

.new-pw-btn-cancel:hover {
    background-color: #bc4949;
}