.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.p-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    min-width: 500px;
    background-color: white;
    border-radius: 4px;
    z-index: 101;
}

.p-pop-up img {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    height: 24px;
}

.p-pop-up img:hover {
    background-color: var(--error-color);
    border-radius: 2px;
}

.popup-main {
    margin: 24px;
}

.popup-title {
    margin: 0 24px 24px 0;
    font-weight: bold;
}

.popup-content {
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;
}

.popup-content i {
    border-radius: 50%;
    background-color: var(--grayish-color);
    align-items: center;
    padding:8px 10px 10px 10px;
    color: var(--error-color);
    font-size: 13px;
    margin-right: 10px; 
}

.popup-footer {
    display: flex;
    justify-content: end;
    height: 60px;
    width: 100%;
    padding: 10px 24px 10px 24px;
    background-color: #E9EBEE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn {
    display: flex;
    justify-content: center;
    height: 40px;
    min-width: 100px;
    padding: 0 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color); 
    color: var(--light-color);
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.btn-cancel {
    background-color: inherit;
}

.btn-cancel:hover {
    background-color: rgb(186, 183, 183);
}

.btn-delete {
    background-color: var(--error-color);
    color: white;
}  

.btn-delete:hover {
    background-color: red;
}

.popup-content-column {
    display: flex;
    flex-direction: column;
}

.modal-send-email {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.popup-send-email {
    background-color: white;
    padding: 20px 20px 40px 20px;
    min-width: 700px;
}

.popup-enter-email {
    background-color: white;
    padding: 20px;
    height: 300px;
    min-width: 500px;
}

.popup-reset-password {
    z-index: 102;
}

.popup-input {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
}

.p-popup-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
