.login {
    min-height: calc(100vh - 243px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: max-content;
}

.login-forgot {
    display: flex;
    justify-content: end;
    width: 100%;
}

.login-qu {
    font-weight: 500;
    margin: 10px 0;
}