.homepage {
    display: flex;
    flex-direction: column;
}

.category {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.category-title {
    text-align: center;
    font-size: 200%;
    margin: 10px;
    font-weight: 500;
}

.category-shop {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 10px 100px;
    /* background-color: var(--footer-color); */
    /* padding: 20px 0; */
}

.category-name {
    display: flex;
    /* width: calc(100vw - 200px); */
    /* justify-content: space-between; */
    margin: 10px 100px;
    flex-wrap: wrap;
}


